

<div class="footer">
    <div class="officeaddress">
       <p>......</p> 
  
    </div>
    <div class="producer">
        <p><em>POWERED BY CREATIVE-LORDS</em></p>
        <p> <a href="mailto:ogagaadjaro@gmail.com">SEND US A MAIL</a></p>
    </div>
    <div class="links"></div>
  </div>
</div>
  
  
  </body>
  </html>