

<div class="footer">
    <div class="officeaddress">
       <p>......</p> 
  
    </div>
    <div class="producer">
        <p><em>POWERED BY CREATIVE LORDS</em></p>
        <p>emailus for designs at <a href="mailto:ogagaadjaro@gmail.com">ogagaadjaro@gmail.com</a></p>
    </div>
    <div class="links"></div>
  </div>
</div>
  
  
  </body>
  </html>