<!DOCTYPE html>
<html>
<head>
<title>knowhowonlineacademy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--PHONE DETECTION PREVENTION FOR SAFARI-->
<meta name="format-detection" content="telephone=no">

<!--PHONE DETECTION FOR BLACKBERY-->
<meta http-equiv="x-rim-auto-match" content="none">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body>