<% include partials/header%>
 
 
  <!-- Header -->
  <div class="header">
    <h1><xx-bold>MY EBOOK SITE</xx-bold></h1>
    
  </div>
  
  <!-- Navigation Bar -->
  <div class="navbar">
    <a href="/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">CATEGORIES</button>
        <div class="dropdown-content">
          <a href="#">EBOOKS</a>
          <a href="#">VIDEOS</a>
        </div>
    </div>
    <a href="#">NEW RELEASES</a>
    <div class="dropdown">
        <button class="dropbtn">CONTACT-US</button>
        <div class="dropdown-content">
            <a href="tel:+2348063623374">CALL-US</a>
          <address>
            <a href="mailto:rozibec16@gmail.com">EMAIL</a>.
            </address>
          
        </div>
      </div>
  </div>
  

<div class="ABOUT-US">
  <h1><xx-large>KNOW-HOW ONLINE ACADEMY</xx-large></xx-large></h1>
  
This is the best online academy for you to learn practical skills 
of producing or doing it all by yourself with ease. We expose and
 guide you through our eBooks, how you can acquire the best production
  techniques of various products even in their best quality. In this way,
   you’ll need not to buy your products from the market anymore. You can
    have it done all by yourself, at your home and spend no expenses. 
    

  </div>
    <hr>
  <div class="asideContent">
      <p>Why Knowhow Online Academy? 
        Knowhow online academy is nothing less than an online school, where you are taught the practical aspect of making/producing products through our easy to understand guidelines from our eBooks. In other words, we are here to affect you with skills you have never thought to know how for producing your products all by yourself. Before publishing our knowhow books, we spend quality efforts both in time and monetary, visiting various firms, industries and companies, where these various products are produced.  
        Why these efforts? 
        To give you the value of your money here at knowhow online academy, as an effort, we underwent extra mile seeking from experts (production companies and industries) producing  these products, the best material to use and how to combine these materials to achieve the best possible results before publishing our eBooks for the public to consume. 
        </p>
  
    </div>

  
<!-- The flexible grid (content) -->


  <div class="container" >
    <h1 class="hotsale">HOT SALES</h1>
    
    <figure class="ebooks">
        <a href=""><img class="eimg" src="/images/ebook3.jpg" ></a>
        <figcaption>
          <p>Customer reviews:4.9 average out of 37</p>
          <p class="download"><a href="/salespage1"><div class="tooltip">DOWNLOAD NOW
              <div class="tooltiptext"><p>over 37 succesful sales</p></div>
            </div></a></p>
        </figcaption>
      </figure> 
      <figure class="ebooks">
          <a href=""><img class="eimg" src="/images/ebook3.jpg" ></a>
          <figcaption>
            <p>Customer reviews:4.9 average out of 37</p>
            <p class="download"><a href="/salespage2"><div class="tooltip">DOWNLOAD NOW
                <div class="tooltiptext"><p>over 37 succesful sales</p></div>
              </div></a></p>
          </figcaption>
        </figure> 
       
     
        
    

    
  </div>
       <div class="clear">

       </div>

<!-- Footer -->
<% include partials/footer %>