
<!DOCTYPE html>
<html>
<head>
<title>knowhowonlineacademy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--PHONE DETECTION PREVENTION FOR SAFARI-->
<meta name="format-detection" content="telephone=no">

<!--PHONE DETECTION FOR BLACKBERY-->
<meta http-equiv="x-rim-auto-match" content="none">
<link rel="stylesheet" type="text/css" href="/stylesheets/main2.css">

</head>
<body>
 
 
  <!-- Header -->
  <div class="header">
<img src="/images/myWORLD.png" alt="myWorld.png" class="headerimg">
    
  </div>
  
  <!-- Navigation Bar -->
  <div class="navbar">
    <a href="/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">CATEGORIES</button>
        <div class="dropdown-content">
          <a href="#">EBOOKS</a>
         <a href="#ex1" rel="modal:open">VIDEOS</a>
        </div>
    </div>
    <a href="#">NEW RELEASES</a>
    <div class="dropdown">
        <button class="dropbtn">CONTACT-US</button>
        <div class="dropdown-content">
            <a href="tel:+2348063623374">CALL-US</a>
          <address>
            <a href="mailto:rozibec16@gmail.com">EMAIL</a>.
            </address>
          
        </div>
      </div>
  </div>
  

<div class="ABOUT-US">
  <h1><xx-large>KNOW-HOW ONLINE ACADEMY</xx-large></xx-large></h1>
  
This is the best online academy for you to learn practical skills 
of producing or doing it all by yourself with ease. We expose and
 guide you through our eBooks, how you can acquire the best production
  techniques of various products even in their best quality. In this way,
   you’ll need not to buy your products from the market anymore. You can
    have it done all by yourself, at your home and spend no expenses. 
    

  </div>
    <hr>
  <div class="asideContent">
      <p>Why Knowhow Online Academy? 
        Knowhow online academy is nothing less than an online school, where you are taught the practical aspect of making/producing products through our easy to understand guidelines from our eBooks. In other words, we are here to affect you with skills you have never thought to know how for producing your products all by yourself. Before publishing our knowhow books, we spend quality efforts both in time and monetary, visiting various firms, industries and companies, where these various products are produced.  
        Why these efforts? 
        To give you the value of your money here at knowhow online academy, as an effort, we underwent extra mile seeking from experts (production companies and industries) producing  these products, the best material to use and how to combine these materials to achieve the best possible results before publishing our eBooks for the public to consume. 
        </p>
  
    </div>

  
<!-- The flexible grid (content) -->


  <div class="container" >
    <p class="hotsales">HOT SALES</p>
    
    <figure class="ebooks">
        <a href="/salespage1"><img class="eimg" src="/images/ebook3.png" ></a>
        <figcaption>
          <p>100% CUSTOMERS SATISFACTION</p>
          <p class="download"><a href="/salespage1"><div class="tooltip"><span class="download">DOWNLOAD NOW</span>
              <div class="tooltiptext"><p>over 104 succesful sales</p></div>
            </div></a></p>
        </figcaption>
      </figure> 
      <figure class="ebooks eimg2">
          <a href="/salespage2"><img class="eimg" src="/images/ebook4.png" ></a>
          <figcaption>
            <p>100% CUSTOMERS SATISFACTION</p>
            <p class="download"><a href="/salespage2"><div class="tooltip"><span class="download">DOWNLOAD NOW</span>
                <div class="tooltiptext"><p>over 196 succesful sales</p></div>
              </div></a></p>
          </figcaption>
        </figure> 
       
     
        
    

    
  </div>
       <div class="clear">

       </div>
   <hr class="hr">

  <div class="callus"><xx-large>call us now at 08063623374 for more details</xx-large></div>
  <div id="ex1" class="modal">
    <p>COMING SOON</p>
    <a href="#" rel="modal:close">Close</a>
  </div>
  
  <!-- Link to open the modal -->
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<!-- Footer -->
<% include partials/footer %>


