<% include partials/header%>

 <!-- Navigation Bar -->
 <div class="navbar">
      <a href="/">HOME</a>
      <div class="dropdown">
          <button class="dropbtn">CATEGORIES</button>
          <div class="dropdown-content">
            <a href="#">EBOOKS</a>
            <a href="#">VIDEOS</a>
          </div>
      </div>
      <a href="#">NEW RELEASES</a>
      <div class="dropdown">
          <button class="dropbtn">CONTACT-US</button>
          <div class="dropdown-content">
              <a href="tel:+2348063623374">CALL-US</a>
            <address>
              <a href="mailto:rozibec16@gmail.com">EMAIL</a>.
              </address>
            
          </div>
        </div>
    </div>


   <body style="border-left:25px solid black; background-color:#333">
        

        
  <div class="containersalespage container">
      

       <div class="books"> 
        <figure><img class="salesimg1" src="/images/ebook3.png" align="left">
         <figcaption><p><button class="buy", id="myBtn">BUY NOW</button></p>
         </figcaption>
      
      </figure>
      <div class="price">
         <p>PRICE:<span class="realPrice"><del>N</del>15000</span><del>N55000</del><br>
          <span class="copies"> 104 COPIES SOLD</p></span>
         
       
       </div>


      </div>


     <div class="clear"></div>
      <div class="description">
          <div><h3 style="text-decoration:underline">WHAT YOU CAN LEARN FROM THIS EBOOK</h3></div>
            <p>This book is designed to help you learn and produce all types of paints ,depending on the area you are living in. </p>
         <table>
             <caption>TYPES OF PAINT</caption>
             <tr>
                <td>SATIN (NYLON PAINT)</td>
                <td>---High quality</td>
             </tr>
             <tr>
                <td>Emulsion paint</td>
                <td>---High quality</td>
             </tr>
             <tr>
                <td>Texture paint</td>
                <td>---High quality</td>
             </tr>
             <tr>
                <td>Gloss paint</td>
                <td>---High quality</td>
             </tr>
             <tr>
                <td>Premium emulsion paint</td>
                <td>---High quality</td>
             </tr>
             <tr>
                <td>Trowel paint   </td>
                <td>---High quality</td>
             </tr>
         </table>
        

         
         
      </div>
      
      


  </div>
  <div class="list1 containersalespage"> 
      <p>You are going to learn of paint chemicals, their functions and<br>
          how to combine these chemicals with in the right proportion <br>
          to achieve a particular paint production</p>
     <ol>
      <li>
        Water
      </li>
       <li>
           P.V.A
        </li> 
         <li>
            Calcium carbonate (base matrix)
            </li>
        <li>
           Formalin 
        </li>
          <li>
             Titanium dioxide (Titan
          </li>
          <li>Nitro sol</li>
         <li>Colourite</li>
          <li>Ammonia </li>
          <li>Bama Cork</li>
           <li>Kaolin</li> 
          <li>Marble dust</li>
           <li>Hydrosol</li>
          <li>Texanol</li>
          <li>Genipole</li>
           <li>Aluminum silicate</li>
        
      </li>
   </ol>
   <p><strong><button class="buy2", id="myBtn">BUY NOW</button></strong></p>
</div>

  
   <!-- The Modal popup-->
   <div id="myModal" class="modal">
         
         <!-- Modal content -->
         <div class="modal-content">
           <div class="modal-header">
             <span class="close">&times;</span>
             <h2><xx-large>payment mode</xx-large></h2>
           </div>
           <div class="modal-body">
             <p>
               {We receive payment via local banks}<br>
               Please, after payment, you are expected to send to us your account name for 
               <br>the payment, and a valid email address to receive the eBook
               <br> PDF file to (08063623374), <strong>OR</strong> you can email us at knowhowonlineacademy@gmail.com
               ……………………………………………………………………
               <br>
               
               <h2>PAYMENT PROCEDURE</h2>
              <p>
                <bold> Pay to ---- 3076383943<br>
                   Bank ---- Firstbank<br>
                   Account type ---- Savings <br>
                   Account name ---- Godwin Oghenebrorhie 
                </bold>
               </p>
               <p>(You will receive the eBook PDF file in 60 seconds after payment confirmation)</p>
               
               <br>Fill free to call us on 08063623374, or, you can email us at <strong><x-large>knowhowonlineacademy@gmail.com</x-large></strong> in case you may have any question you need answer for.
               <xx_large>THANKS</xx_large>
               
             </p>
            
           </div>
           <div class="modal-footer">
             <h3>powered by <strong>CREATIVELORDS</strong></h3>
             <P>email us for your designs @<a href="mailto:ogagaadjaro@gmail.com">ogagaadjaro@gmail.com</a></P>
           </div>
         </div> 

       
         <div class="footer">
            <div class="officeaddress">
               <p>......</p> 
          
            </div>
            <div class="producer">
                <p><em>POWERED BY CREATIVE LORDS</em></p>
                <p>emailus for designs at <a href="mailto:ogagaadjaro@gmail.com">ogagaadjaro@gmail.com</a></p>
            </div>
            <div class="links"></div>
          </div>
        </div>
          



    
<script type="text/javascript" src="/scripts/main.js"></script>
<% include partials/footer %>


  